@use "../abstract/" as *;

.about-me {
  padding: 5.2rem;

  @include breakpoint-down(small) {
    padding: {
      left: 2.4rem;
      right: 2.4rem;
    }
  }

  & &__container {
    display: flex;
    justify-content: center;
    border: {
      top: 2px dotted $color-bg-dark;
      bottom: 2px dotted $color-bg-dark;
    }
    padding: 5.2rem 0;

    .text-container {
      @include breakpoint-up(large) {
        max-width: 50vw;
      }
    }

    p {
      line-height: 2.2;
      @include letter-spacing(5);

      &:not(:last-child) {
        margin-bottom: 2.4rem;
      }
    }
  }
}
